<button type="button" name="increase" class="btn btn-outline-primary btn-sm" {{action "increase"}} disabled={{increaseDisabled}}>
  <i class="fa fa-plus" aria-hidden="true"></i>
</button>
<button type="button" name="decrease" class="btn btn-outline-primary btn-sm" {{action "decrease"}} disabled={{decreaseDisabled}}>
  <i class="fa fa-minus" aria-hidden="true"></i>
</button>
